<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<aop:config>
		<aop:pointcut id="servicePointcut" expression="execution(* com.aureltest.testOffer.services.*.*(..))"/>
		<aop:aspect id="loggingAspect" ref="myLogger">
			<aop:before method="logMethodEntry" pointcut-ref="servicePointcut" />
			<aop:after-returning method="logMethodExit" returning="result" pointcut-ref="servicePointcut" />
		</aop:aspect>
	</aop:config>
	<bean id="myLogger" class="com.aureltest.testOffer.utils.MyLogger" />
</beans>
